@page "/"

<PageTitle>Index</PageTitle>

<h1>Primera aplicación en Blazor</h1>

Esta primera aplicación y ediciones de tipo de contador es con fines de pruebas

<form>
    <input class="text" type="text">

</form>

<Counter IncrementAmount="10" />
<Todo />